@keyframes moveRight{
    from{
        transform: translateX(0em);
    }
    to{
        transform: translateX(35em);
    }
}
@keyframes moveLeft{
    from{
        transform: translateX(0em);
    }
    to{
        transform: translateX(-35em);
    }
}
.moveHapoel{
    animation-name: moveRight;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}
.moveMaccabi{
    animation-name: moveLeft;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}
.bin-class.button-image {
    height: 2em;
    width: 2em;
  }
  .select-player-class.button-image {
    height: 2em;
    width: 2em;
  }
  .return-maccabi-class.button-image {
    height: 2em;
    width: 2em;
  }
  .return-hapoel-class.button-image {
    height: 2em;
    width: 2em;
  }