body{
    background-color: rgb(128, 128, 128);
    font-size: 16px;
    height: 900px;
    z-index: 0;
}
canvas {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background: transparent; 
    pointer-events: none; 
    z-index: 2; 
}
.message-container {
    position: relative; 
    margin-bottom: 3.125em; 
}
#result {
    position: absolute; 
    top: 6em; 
    left: 0; 
    width: 100%;
    height: 3.25em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: #ffffff;
    text-shadow: 0 0 0.625em #ffffff, 0 0 1.25em #ffffff, 0 0 1.875em #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.625em;
    border-radius: 0.5em;
    box-shadow: 0 0 0.9375em rgba(0, 0, 0, 0.7);
}
#stats {
    position: fixed;                 
    top: 56%;                         
    left: 50%;                      
    transform: translate(-50%, -50%); 
    width: 35em;                     
    height: 20em;                    
    margin: 0;                       
    padding: 1em;                  
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.5em;
    box-shadow: 0 0 0.9375em rgba(0, 0, 0, 0.7);
    z-index: 2;                     
    overflow: auto;        
}
#result {
    z-index: 2; 
}
.belowMessage{
    margin-top: 7em;
}
.court{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.headline{
    display: flex;
    justify-content: center;
    margin-bottom: 5em;
}
.buttons{
    display: flex;
    justify-content: space-between;
}
.plus{
    height: 4em;
}
#hapoel {
    background-color: red; 
    border: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 0.9em 2em;
    border-radius: 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    cursor: pointer;
    transition: 0.8s;
    margin-bottom: 6em;
    margin-left: 1.2em;
    margin-right: 7.5em;
    transition: 1.8s;
}
#hapoel:hover{
    background-color: white;
    color: red;
}
#fight{
    background-color: white; 
    border: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 12em;
    padding: 1em 2em;
    border-radius: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    cursor: pointer;
    transition: 1.8s;
    margin-bottom: 6.25em;
    margin-right: 1.25em;
}
#fight:hover{
    background-color: black;
    color: white;
}
.swords{
    height: 4em;
}

#maccabi {
    background-color: yellow; 
    border: none;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 0.9em 2em;
    border-radius: 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    cursor: pointer;
    transition: 0.8s;
    margin-bottom: 6em;
    margin-left: 7.5em;
    margin-right: 1.2em;
    transition: 0.8s;
}
#maccabi:hover{
    background-color: blue;
    color: yellow;
}

.both{
    display: flex;
    position:relative;

}
#solidersHTA{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
#solidersMTA{
    display: flex;
    flex-direction: column;
    top: 0;
    right:0; 
    bottom: 0;
    position:absolute;
    cursor: pointer;
}
.currHapoelContainer{
    position: relative;
}
.lifeHTA{
    margin-top: 6.25em;
    position: absolute;
    top: -2.5em; 
    left: 29.5em; 
    color: white;
    display: inline-block;
}
.hpHTA{
    color: red;
    font-size: 1.25em;
}
.damageHTA{
    margin-top: 6.25em;
    position: absolute;
    top: -1em; 
    left: 29.5em;
    color: white;
}
.damageTakenHTA{
    color: yellow;
}
.currMaccabiContainer{
    position: relative;
    background-color: blue;
}
.hpMTA{
    color: yellow;
    font-size: 1.25em;
}
.lifeMTA{
    margin-top: 6.25em;
    position: absolute;
    top: -2.5em; 
    right: 35em; 
    color: white;
}
.damageMTA{
    margin-top: 6.25em;
    position: absolute;
    top: -1em; 
    right: 30em;
    color: white;
}
.damageTakenMTA{
    color: red;
}
#currHapoel{
    width: 13.125em;
    height: 13.125em;
    margin-top: 6.25em;
    position: absolute;
    top: 1.25em; 
    left: 26.25em; 
    border-width: 0.9375em;
    border-style: solid;
    border-color: rgb(246, 10, 10);
    cursor: pointer;

}
#currHapoel:hover{
    background-color: white;
}
#currMaccabi{
    width: 13.125em;
    height: 13.125em;
    margin-top: 6.25em;
    position: absolute;
    top: 1.25em; 
    right: 26.25em; 
    border-width: 0.9375em;
    border-style: solid;
    border-color: rgb(255, 242, 0);
    cursor: pointer;

}
#currMaccabi:hover{
    background-color: blue;
}
.containerMenu{
    text-align: center;
    position: fixed; 
    bottom: 1.25em; 
    left: 50%; 
    transform: translateX(-50%);
}
.menuLink{
    height: 0em;
}
.menu{
    background-color: white; 
    border: none;
    color: black;
    padding: 0.9375em 2em;
    border-radius: 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: 0.8s;
    margin-top: 25em;
}
.menu:hover{
    background-color: black; 
    color: white;
}
.home{
    height: 4em;
}

