
.addbutton {
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 0.9em 2em;
    border-radius: 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    cursor: pointer;
    transition: 0.8s;
    margin-bottom: 12em;
    width: 14em;
}
.return{
    height: 2.5em;
}
.boxing{
    height: 2.5em;
    width: 4em;
}
.trash{
    height: 2.5em;
}
#hapoelInfo-remove {
    background-color: red; 
    color: white;
}

#hapoelInfo-select {
    background-color: red; 
    color: white;
}

#hapoelInfo-remove-fight {
    background-color: red; 
    color: white;
}

#hapoelInfo-remove:hover,
#hapoelInfo-select:hover,
#hapoelInfo-remove-fight:hover {
    background-color: white;
    color: red;
}

#maccabiInfo-remove {
    background-color: yellow; 
    color: blue;
}

#maccabiInfo-select {
    background-color: yellow; 
    color: blue;
}

#maccabiInfo-remove-fight {
    background-color: yellow; 
    color: blue;
}

#maccabiInfo-remove:hover,
#maccabiInfo-select:hover,
#maccabiInfo-remove-fight:hover {
    background-color: blue;
    color: yellow;
}

.playerInformation {
    background-color: rgba(248, 243, 243, 0.5);
    width: 14em;
    height: 39.625em;
    border-radius: 0.9em;
    display: none;
}

#hapoelPlayerInformation {
    top: 0;
    left: 12em; 
    bottom: 0;
    position: absolute;
    opacity: 1;
    color: red;
    visibility: visible;
    z-index: 5;
}

#maccabiPlayerInformation {
    top: 0;
    right: 12em; 
    bottom: 0;
    position: absolute;
    color: yellow;
    opacity: 1;
    visibility: visible;
    z-index: 5;
}

.img-hover {
    transition: transform 0.3s ease; 
    
}
.img-hover:hover {
    transform: scale(1.1);
    filter: brightness(1.5); 
}
.containerGame:hover::before {
    opacity: 0; 
}

.info-container img {
    transition: transform 0.3s ease; 
}

.info-container:hover img,
.info-container:hover .player-info {
    transform: scale(1.2); 
}




.headlineInformation{
    display: flex;
    justify-content: center;
}
.hapoelLogo{
    height: 8em;
}
.maccabiLogo{
    height: 8em;
}
.playerHover{
    height: 8em;
}
.logos{
    display: flex;
    justify-content: center;
}




.descriptionMaccabi {
    font-size: 1em;
    margin-bottom: 1.25em;
    color: yellow;
}
.descriptionHapoel {
    font-size: 1em;
    margin-bottom: 1.25em;
    color: red;
}
.rating {
    font-size: 1.5em;
    font-weight: bold;
}

strong {
    font-weight: bold;
    font-style: italic;
}

.addbutton.red-button {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}

.addbutton.yellow-button {
    background-color: yellow;
    color: black;
    border: none;
    cursor: pointer;
}

.addbutton:hover {
    opacity: 0.8;
}


.image-container {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0.625em;
}

.image-container img {
    margin-right: 0.625em;
}

.button-container {
    display: none;
    flex-direction: column;
    gap: 2em;
    width: 5em;
    border-style: solid;
    border-color: white;
}
.image-container:hover .button-container {
    display: flex; 
}

.button-container button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.8s;
}


.button-container img {
    width: 1.25em;
    height: 1.25em;
}
.red-button-container {
    background-color: red;
  }
  
  
  .yellow-button-container {
    background-color: yellow;
  }
  .addedbuttons:hover{
    scale: 1.5;
  }

  .rotate-maccabi {
    transform: rotate(180deg); 
}

.no-rotation {
    transform: rotate(0deg); 
    transition: transform 0.3s ease; 
}
.button-separator{
    margin: -1.5em;
    display: inline-block;
    padding-left: 1.35em;
}

.right-of-player {
    margin-left: 1em;
    margin-top: 1em; 
}


.left-of-player {
    position: absolute;
    top: 0;
    right: 95%; 
    margin-right: 1em;
    margin-top: 1em;
}

.image-container img {
    margin: 0; 
}

.buttonimage.return-maccabi-class {
    transform: rotate(180deg); 
}


.button-div{
    /* border-style: solid;
    border-color: black; */
    padding-left: 1.3em;
    transition: 0.8s;
}
.button-div:hover{
    background-color: antiquewhite;
}

.button-container.selected {
    flex-direction: row;
    gap: 2em;
    width: 15em;
    margin-top: 1em;
    border-style: solid;
    border-color: white;
    position: absolute;
    top: 100%; 
    left: 50%; 
    transform: translateX(-50%); 
}
.button-image{
    padding-top: 0.7em;
}