
.addbutton {
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 0.9em 2em;
    border-radius: 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    cursor: pointer;
    transition: 0.8s;
    margin-bottom: 12em;
    width: 14em;
}
.return{
    height: 2.5em;
}
.returnMaccabi{
    height: 2.5em;
    transform: rotate(180deg); 
}
.boxing{
    height: 2.5em;
    width: 4em;
}
.trash{
    height: 2.5em;
}
#hapoelInfo-remove {
    background-color: red; 
    color: white;
}

#hapoelInfo-select {
    background-color: red; 
    color: white;
}

#hapoelInfo-remove-fight {
    background-color: red; 
    color: white;
}

#hapoelInfo-remove:hover,
#hapoelInfo-select:hover,
#hapoelInfo-remove-fight:hover {
    background-color: white;
    color: red;
}

#maccabiInfo-remove {
    background-color: yellow; 
    color: blue;
}

#maccabiInfo-select {
    background-color: yellow; 
    color: blue;
}

#maccabiInfo-remove-fight {
    background-color: yellow; 
    color: blue;
}

#maccabiInfo-remove:hover,
#maccabiInfo-select:hover,
#maccabiInfo-remove-fight:hover {
    background-color: blue;
    color: yellow;
}

.playerInformation {
    background-color: rgba(248, 243, 243, 0.5);
    width: 14em;
    height: 39.625em;
    border-radius: 0.9em;
    display: none;
}

#hapoelPlayerInformation {
    top: 0;
    left: 12em; 
    bottom: 0;
    position: absolute;
    opacity: 1;
    color: red;
    visibility: visible;
    z-index: 5;
}

#maccabiPlayerInformation {
    top: 0;
    right: 12em; 
    bottom: 0;
    position: absolute;
    color: yellow;
    opacity: 1;
    visibility: visible;
    z-index: 5;
}

.img-hover {
    transition: transform 0.3s ease; 
}

.img-hover:hover {
    transform: scale(1.2);
    filter: brightness(1.5); /* Increase brightness */
}
.containerGame:hover::before {
    opacity: 0; /* Remove the dark overlay */
}

.info-container img {
    transition: transform 0.3s ease; 
}

.info-container:hover img,
.info-container:hover .player-info {
    transform: scale(1.2); 
}




.headlineInformation{
    display: flex;
    justify-content: center;
}
.hapoelLogo{
    height: 8em;
}
.maccabiLogo{
    height: 8em;
}
.playerHover{
    height: 8em;
}
.logos{
    display: flex;
    justify-content: center;
}




.descriptionMaccabi {
    font-size: 1em;
    margin-bottom: 1.25em;
    color: yellow;
}
.descriptionHapoel {
    font-size: 1em;
    margin-bottom: 1.25em;
    color: red;
}
.rating {
    font-size: 1.5em;
    font-weight: bold;
}

strong {
    font-weight: bold;
    font-style: italic;
}

.addbutton.red-button {
    background-color: red;
    color: white;
    border: none;
    padding: 1.2em 2em;
    cursor: pointer;
}

.addbutton.yellow-button {
    background-color: yellow;
    color: black;
    border: none;
    padding: 1.2em 2em;
    cursor: pointer;
}

.addbutton:hover {
    opacity: 0.8;
}


.image-container {
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px;
}

.image-container img {
    margin-right: 10px;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 5em;
    border-radius: 25%;
}

.button-container button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}

.button-container img {
    width: 20px;
    height: 20px;
}
.red-button-container {
    background-color: red;
  }
  
  .yellow-button-container {
    background-color: yellow;
  }